<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/materialize.css" rel="stylesheet">
    <script src="/js/jquery-2.1.1.js">  </script>
    <script src="/js/materialize.js"></script>

    <title>TEST</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="#" class="brand-logo" onclick="Bootstrapper.loadLogin()">Logo</a>
        </div>
    </nav>
    <div id="content">
        <!--<p>Test<button type="submit" onclick="Bootstrapper.test();"></button></p>-->
    </div>
    <script src="/src/bootstrapper.js"></script>
</body>
</html>